.DS_Store

bash/.config

emacs/dot-emacs.d/**
!emacs/dot-emacs.d/README.md

git/dot-gitlocal

karabiner/**
!karabiner/README.md

local/dot-local

offlineimap/__pycache__/

pandoc/dot-pandoc/templates/auto
pandoc/dot-pandoc/templates/default.latex

solarized/

ssh/dot-ssh/**
!ssh/dot-ssh/config
!ssh/dot-ssh/sssha
!ssh/dot-ssh/ssh-cucl-proxy
