.DS_Store

bash/.config/**

emacs/dot-emacs.d/**
!emacs/dot-emacs.d/README.md

git/dot-gitlocal

karabiner/dot-karabiner/**
!karabiner/dot-karabiner/README.md

pandoc/dot-pandoc/templates/auto
pandoc/dot-pandoc/templates/default.latex

solarized/

ssh/**
!ssh/config
!ssh/sssha
!ssh/ssh-cucl-proxy
