.DS_Store
\#*#
*~

software/
isos/

emacs.d/.emacs.desktop
emacs.d/auto-save-list/
emacs.d/scrap.*
emacs.d/places
emacs.d/ac-comphist.dat
emacs.d/url/

/gitlocal

ssh/
!ssh/config
!ssh/sssha

ocp/
/offlineimap.pyc
pandoc/templates/auto
